/** --- Global style ---**/
* {
    padding: 0;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  }

/**--- background ---**/

html {
    background: url(../images/background.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

/** --- Heading and user info ---**/

.heading {
    text-align: center;
    height: 5rem;
    font-size: 2.5rem;
    padding: 20px;
    color: #fff;
}

#username {
    display: grid;
}

#user-input {
    height: 20px;
    border-radius: 10px;
}

#load-user {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    color : #d4af37;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}

/*--- Navlink ---*/

.fa-house {
    color: #d4af37;
    font-size: 30px;
}

/**--- body ---**/

.question-area {
    background-color: rgba(96, 202, 82, 0.5);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 20px;
    padding-top: 2rem;
}

#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width:200px;
    height:150px;
    border : 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color : #000000;
    background-color: #d4af37;
}

#start:hover {
    color : #d4af37;
    background-color: #000000;
    border : 2px solid #d4af37;
}

#question p {
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

.answer {
    width: auto;
    margin: 5px 0;
    text-align: center;
    border : 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding : 5px;
}

.answer:hover {
    border : 2px solid #d4af37;
    font-weight: bold;
}

#timer {
    position: absolute;
    height : 100px;
    width : 200px;
    border-radius: 10px;
    bottom : 5px;
    text-align: center;
    color: #d4af37;
    background: #000;
}

#counter {
    font-size: 3em;
}

#btimedisplay {
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: #d3d3d3;
    margin-left : 25px;
}
#timedisplay {
    height : 10px;
    border-radius: 10px;
    background-color: #d4af37;;
    margin-top : -10px;
    margin-left : 25px;
}

#progress {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding: 5px;
}

.prog {
    display: inline-block;
    border: 1px solid #000;
    width : 10px;
    height : 10px;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}

#next-question {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 200px;
    height: 100px;
    border : 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color : #000000;
    background-color: #d4af37;
}

#next-question:hover {
    color : #d4af37;
    background-color: #000000;
    border : 2px solid #d4af37;
}

/**--- reveal score ---**/

#score {
    margin-top: 15%;
    display: none;
}

#score p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#restart {
    position: absolute;
    bottom: 20%;
}

#play-again {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 200px;
    height: 100px;
    border : 2px solid #000000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color : #000000;
    background-color: #d4af37;
}

#play-again:hover {
    color : #d4af37;
    background-color: #000000;
    border : 2px solid #d4af37;
}

/** Media queries **/

@media screen and (max-width: 860px){
    * {
        font-size: 14px;
    }

    .question-area {
        width: auto;
    }

    #progress {
        display: block;
    }

    #load-user {
        position: absolute;
        bottom: 20%;
        color : #d4af37;
        background-color: #000000;
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 380px){
    #nav {
        min-height: 130px;
        margin-bottom: 17%;
    }

    .question-area {
        max-height: fit-content;
    }

    #next-question {
        width: auto;
    }

    .play-again {
        width: auto;
    }
}